.container{
    background-color:chartreuse;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.child{
    width: 200px;
    height: 200px;
    background-color:blue;
    margin: 50px;
}